@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Poppins:100, 200, 300,400,500,600,700,800,900");

:root {
  --white: #fffdff;
  --dark-blue: #0f0d18;
  --dark-purple: #1e1b30;
  --light-blue: #e5e9f6;
  --rounded-xs: 0.2rem;
  --rounded-sm: 0.5rem;
  --rounded-md: 1rem;
}

body {
  color: #303030;
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* index.css */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #A9A9A9; 
}
